@import "tailwindcss";
@plugin "daisyui" {
  themes: quenhe --default;
  logs: false;
}

@plugin "daisyui/theme" {
  name: "quenhe";
  default: true;
  color-scheme: light;

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 240);
  --color-base-300: oklch(92% 0.02 240);
  --color-base-content: oklch(20% 0.05 260);

  --color-primary: oklch(58% 0.22 25);
  --color-primary-content: oklch(100% 0 0);

  --color-secondary: oklch(48% 0.15 165);
  --color-secondary-content: oklch(100% 0 0);

  --color-accent: oklch(48% 0.15 165);
  --color-accent-content: oklch(100% 0 0);

  --color-neutral: oklch(50% 0.02 260);
  --color-neutral-content: oklch(98% 0 0);

  --radius-selector: 2rem;
  --radius-field: 0.75rem;
  --radius-box: 1.5rem;
}
